<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" configDebug="true">
    <appenders>
        <console name="console" target="system_out">
            <patternLayout
                    pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%.6t] %highlight{%level}{FATAL=bg_red, ERROR=bright red, WARN=yellow, INFO=bright green, DEBUG=bright blue} %C{1}.%style{%M(%F:%L)}{bright,yellow} - %msg%n%throwable"/>
        </console>
        <rollingFile name="rollingFile" fileName="logs/template.log" filePattern="logs/template-%d{yyyyMMdd}-%i.log">
            <patternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%.6t] %level %C{3}.%M(%F:%L) - %msg%n%throwable" />
            <sizeBasedTriggeringPolicy size="50 MB" />
            <defaultRolloverStrategy max="12" />
        </rollingFile>
    </appenders>
    <loggers>

        <logger name="uz.furor.template" level="info" additivity="false">
            <appenderRef ref="console"/>
        </logger>
        <logger name="org.mybatis.example.BlogMapper" level="trace">
            <appenderRef ref="stdout"/>
        </logger>

        <root level="warn">
            <appenderRef ref="console"/>
        </root>
    </loggers>
</log4j:configuration>