<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PermissionMapper">

    <select id="selectPermissions" resultType="uz.furor.template.db.beans.admin.PermissionBean" parameterType="map">
        select a.* from permissions a
            <if test="users_id">
                left join (
                    select distinct permissions_id from role_permissions rp
                                          left join user_roles ur on rp.roles_id = ur.roles_id
                                          where ur.users_id
                )
            </if>
        <if test="roles_id != null">
            inner join role_permissions rp on a.id = rp.permissions_id and rp.roles_id = roles_id
        </if>
        where extract(year from current_timestamp) > 2022
        <if test="id != null">
            AND a.id = #{id}::int4
        </if>
        <if test="name != null">
            AND a.name like '%${name}%'
        </if>
        <if test="shortname != null">
            and a.shortname = #{shortname}
        </if>
    </select>

    <select id="insertPermission" affectData="true" flushCache="true"
            parameterType="uz.furor.template.db.beans.admin.PermissionBean"
            resultType="uz.furor.template.db.beans.admin.PermissionBean">
        insert into permissions (id,
                                 shortname,
                                 name,
                                 enabled,
                                 order_id,
                                 description,
                                 created_users_id,
                                 created_date,
                                 updated_users_id,
                                 updated_date)
        VALUES (nextval('permissions_seq'),
                #{shortname},
                #{name},
                #{enabled}::bool,
                #{order_id}::int4,
                #{description},
                #{created_users_id}::int4,
                current_timestamp,
                #{updated_users_id}::int4,
                current_timestamp)
        returning *
    </select>

    <update id="updatePermission" parameterType="uz.furor.template.db.beans.admin.PermissionBean"
            statementType="PREPARED">
        update permissions
        set shortname        = #{shortname},
            name             = #{name},
            enabled          = #{enabled}::bool,
            order_id         = #{order_id}::int4,
            description      = #{description},
            updated_users_id = #{updated_users_id}::int4,
            updated_date     = current_timestamp
        where id = #{id}::int4
    </update>

    <delete id="deletePermission" parameterType="map" statementType="PREPARED">
        delete
        from permissions
        where id = #{id}::int4
    </delete>

</mapper>