<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uz.furor.template.mapper.admin.RoleAccessMapper">

    <select id="selectRoleAccesses" resultType="uz.furor.template.db.beans.admin.RoleAccessBean" parameterType="map">
        select a.* from role_accesses a
        where extract(year from current_timestamp) > 2022
        <if test="id != null">
            AND a.id = #{id}::int4
        </if>
        <if test="roles_id != null">
            and a.roles_id = #{roles_id}::int4
        </if>
        <if test="accessed_roles_id != null">
            AND a.accessed_roles_id = #{accessed_roles_id}::int4
        </if>
    </select>

</mapper>