<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uz.furor.template.mapper.admin.UserMapper">

    <select id="selectUsers" resultType="uz.furor.template.db.beans.admin.UserBean" parameterType="map">
        select * from users a
        where extract(year from current_timestamp) > 2022
        <if test="id != null">
            AND a.id = #{id}::int4
        </if>
        <if test="username != null">
            AND a.username = #{username}
        </if>
    </select>

<!--    <parameterMap id="insertUserMap" type="map">-->
<!--        <parameter property="p_username" jdbcType="VARCHAR" mode="IN"/>-->
<!--        <parameter property="p_password" jdbcType="VARCHAR" mode="IN"/>-->
<!--        <parameter property="p_password_expire_date" jdbcType="TIMESTAMP" javaType="java.util.Date" mode="IN"/>-->
<!--        <parameter property="p_enabled" jdbcType="BOOLEAN" mode="IN"/>-->
<!--        <parameter property="p_result" jdbcType="INTEGER" mode="OUT"/>-->
<!--        <parameter property="p_new_id" jdbcType="INTEGER" mode="OUT"/>-->
<!--        <parameter property="p_res_msg" jdbcType="VARCHAR" mode="OUT"/>-->
<!--        <parameter property="p_log_msg" jdbcType="VARCHAR" mode="OUT"/>-->
<!--    </parameterMap>-->

    <select id="insertUser" resultSets="p_result,p_new_id,p_res_msg,p_log_msg" resultType="map" parameterType="map" statementType="CALLABLE">
        {CALL insertUser(
            #{p_username, jdbcType=VARCHAR, mode=IN}::varchar,
            #{p_password, jdbcType=VARCHAR, mode=IN}::varchar,
            #{p_password_expire_date, jdbcType=DATE, mode=IN}::timestamp,
            #{p_enabled, jdbcType=BOOLEAN, mode=IN}::boolean,
            null::integer,
            null::integer,
            null::varchar,
            null::varchar)}
    </select>

    <parameterMap id="updateUserMap" type="map">
        <parameter property="p_id" jdbcType="INTEGER" mode="OUT"/>
        <parameter property="p_username" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password_expire_date" jdbcType="TIMESTAMP" javaType="java.util.Date" mode="IN"/>
        <parameter property="p_enabled" jdbcType="BOOLEAN" mode="IN"/>
        <parameter property="p_result" jdbcType="INTEGER" mode="OUT"/>
        <parameter property="p_res_msg" jdbcType="VARCHAR" mode="OUT"/>
        <parameter property="p_log_msg" jdbcType="VARCHAR" mode="OUT"/>
    </parameterMap>
    <update id="updateUser" parameterMap="updateUserMap" statementType="CALLABLE">
        {call updateUser(?, ?, ?, ?, ?, ?, ?, ?)}
    </update>
</mapper>