<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uz.furor.template.mapper.admin.UserMapper">

    <select id="selectUsers" resultType="uz.furor.template.db.beans.admin.UserBean" parameterType="map">
        select * from users a
        where extract(year from current_timestamp) > 2022
        <if test="id != null">
            AND a.id = #{id}::int4
        </if>
        <if test="username != null">
            AND a.username = #{username}
        </if>
    </select>

    <parameterMap id="insertUserMap" type="map">
        <parameter property="p_name" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_username" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password_expire_date" jdbcType="TIMESTAMP" javaType="java.util.Date" mode="IN"/>
        <parameter property="p_enabled" jdbcType="BOOLEAN" mode="IN"/>
        <parameter property="p_result" jdbcType="INTEGER" mode="INOUT"/>
        <parameter property="p_new_id" jdbcType="INTEGER" mode="INOUT"/>
        <parameter property="p_res_msg" jdbcType="VARCHAR" mode="INOUT"/>
        <parameter property="p_log_msg" jdbcType="VARCHAR" mode="INOUT"/>
    </parameterMap>

    <select id="insertUser" parameterMap="insertUserMap" statementType="CALLABLE">
        CALL insert_user(?, ?, ?, ?, ?, ?, ?, ?, ?)
        --         CALL insert_user(#{p_name, jdbcType=VARCHAR, mode=IN},
--                          #{p_username, jdbcType=VARCHAR, mode=IN},
--                          #{p_password, jdbcType=VARCHAR, mode=IN},
--                          #{p_password_expire_date, jdbcType=TIMESTAMP, mode=IN},
--                          #{p_enabled, jdbcType=BOOLEAN, mode=IN},
--                          #{p_result, jdbcType=INTEGER, mode=INOUT},
--                          #{p_new_id, jdbcType=INTEGER, mode=INOUT},
--                          #{p_res_msg, jdbcType=VARCHAR, mode=INOUT},
--                          #{p_log_msg, jdbcType=VARCHAR, mode=INOUT})
    </select>

    <parameterMap id="updateUserMap" type="map">
        <parameter property="p_id" jdbcType="INTEGER" mode="OUT"/>
        <parameter property="p_name" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_username" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="p_password_expire_date" jdbcType="TIMESTAMP" javaType="java.util.Date" mode="IN"/>
        <parameter property="p_enabled" jdbcType="BOOLEAN" mode="IN"/>
        <parameter property="p_result" jdbcType="INTEGER" mode="INOUT"/>
        <parameter property="p_res_msg" jdbcType="VARCHAR" mode="INOUT"/>
        <parameter property="p_log_msg" jdbcType="VARCHAR" mode="INOUT"/>
    </parameterMap>
    <update id="updateUser" parameterMap="updateUserMap" statementType="CALLABLE">
        call update_user(?, ?, ?, ?, ?, ?, ?, ?, ?)
    </update>
</mapper>